/* ================ VARIABLES ================ */
:root {
  --primary-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --main-color: #434455;
}
/* ================ /VARIABLES ================ */
/* ================ BASIC ================ */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
}
body {
  font-family: var(--primary-font);
  color: var(--main-color);
  background-color: #ffffff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* mobil */
.container {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}
/* tablet */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* desctop */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* ================ BASIC ================ */

/* ================ HEADER ================ */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.page-header .container {
  display: flex;
  align-items: center;
}

.page-header-nav {
  display: flex;
  align-items: center;
}
/* mobil */
.page-header-logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 149px;
}
.page-header-studio {
  color: #2e2f42;
}
/* tablet */
@media screen and (min-width: 768px) {
  .page-header-logo {
    margin-right: 120px;
  }
}

@media screen and (min-width: 1158px) {
  .page-header-logo {
    margin-right: 76px;
  }
}
.open-menu-button {
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin-top: 16px;
  margin-bottom: 16px;
  line-height: 0;
}
/* tablet */
@media screen and (min-width: 768px) {
  .open-menu-button {
    display: none;
  }
}

/* mobil */
.page-header-nav-list {
  display: none;
}
/* tablet */
@media screen and (min-width: 768px) {
  .page-header-nav-list {
    display: flex;
    gap: 40px;
    position: relative;
  }
}
/* desctop */
@media screen and (min-width: 1158px) {
  .page-header-nav-list {
    display: flex;
    gap: 40px;
    position: relative;
  }
}

.page-header-nav-list-item-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  padding: 24px 0;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header-nav-list-item:first-child::after {
  content: "";
  border-radius: 2px;
  width: 48px;
  height: 4px;
  position: absolute;
  background: #404bbf;
  left: 0;
  bottom: -1px;
}
.first-link {
  color: #404bbf;
}

.header-address-box {
  display: flex;
  margin-left: auto;
}
/* mobil */
.header-address-box-list {
  display: none;
}
/* tablet */
@media screen and (min-width: 768px) {
  .header-address-box-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
/* desctop */
@media screen and (min-width: 1158px) {
  .header-address-box-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}

.header-address-box-list-item-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header-nav-list-item-link:hover,
.page-header-nav-list-item-link:focus {
  color: #404bbf;
}

.header-address-box-list-item-link:hover,
.header-address-box-list-item-link:focus {
  color: #404bbf;
}
/* ================ /HEADER ================ */

/* ================ HERO ================ */
/* mobil */
.hero-section {
  background-color: #2e2f42;
  width: 320px;
  margin: 0 auto;
  padding: 72px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero-mobil.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-mobil@2x.jpg);
  }
}
/* tablet */
@media screen and (min-width: 768px) {
  .hero-section {
    width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-tablet@2x.jpg);
  }
}
/* desctop */
@media screen and (min-width: 1158px) {
  .hero-section {
    width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-bg.jpg);
  }
}
@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-bg@2x.jpg);
  }
}
/* mobil */
.hero-section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #fff;
  max-width: 216px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 72px;
}
/* tablet */
@media screen and (min-width: 768px) {
  .hero-section-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }
}
/* desctop*/
@media screen and (min-width: 1158px) {
  .hero-section-title {
    margin-bottom: 48px;
  }
}
/* mobil */

.hero-section-button {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  display: block;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-section-button:hover,
.hero-section-button:focus {
  background-color: #404bbf;
}
/* ============================== /HERO =================================== */

/* ============================== FEATURES =================================== */

.features-section {
  padding-top: 96px;
  padding-bottom: 96px;
}
/* desc */
@media screen and (min-width: 1158px) {
  .features-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
/* mobil */
/* .features-section-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
} */
/* tablet */
@media screen and (min-width: 768px) {
  .features-section-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
}
@media screen and (min-width: 1158px) {
  .features-section-list {
    gap: 24px;
  }
}

/* mobil */
.features-section-list-item {
  width: 100%;
  margin-bottom: 72px;
}
@media screen and (min-width: 768px) {
  .features-section-list-item {
    width: calc((100% - 24px) / 2);
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1158px) {
  .features-section-list-item {
    width: calc((100% - 3 * 24px) / 4);
  }
}

/* mobil */
.features-icon-wrapper {
  display: none;
}
/* desctop */
@media screen and (min-width: 1158px) {
  .features-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
  }
}

.features-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .features-title {
    text-align: start;
  }
}
@media screen and (min-width: 1158px) {
  .features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
  }
}
.features-description-text {
  color: #434455;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 1158px) {
  .features-description-text {
    font-weight: 400;
  }
}
/* ============================== /FEATURES =================================== */
/* ============================== TEAM =================================== */
.team-member-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.team-text {
  text-align: center;
  margin-bottom: 8px;
}
.description-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.team-section {
  padding: 96px 0;
  background-color: #f4f4fd;
}

@media screen and (min-width: 1158px) {
  .team-section {
    padding: 120px 0;
  }
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}
/* .team-section-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
} */
@media screen and (min-width: 768px) {
  .team-section-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
    justify-content: center;
  }
}
@media screen and (min-width: 1158px) {
  .team-section-list {
    display: flex;
    gap: 24px;
  }
}
.team-section-list-item:not(:last-child) {
  margin-bottom: 72px;
}
.team-section-list-item {
  width: 264px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
@media screen and (min-width: 768px) {
  .team-section-list-item {
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .team-section-list-item:not(:last-child) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1158px) {
  .team-section-list-item {
    width: calc((100% - 72px) / 4);
  }
}
.prof-wrapper {
  padding: 32px 0;
}
.social-list-icons {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-list-icons-item {
  width: 40px;
  height: 40px;
}

.social-list-icons-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-logo {
  fill: #f4f4fd;
}
.social-list-icons-item-link:hover,
.social-list-icons-item-link:focus {
  background-color: #404bbf;
}
/* ============================== /TEAM =================================== */

/* ============================== PORTFOLIO =================================== */
.portfolio-section {
  padding: 96px 0;
}
@media screen and (min-width: 1158px) {
  .portfolio-section {
    padding: 120px 0;
  }
}

.portfolio-section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-section-list {
  display: block;
}
@media screen and (max-width: 767px) {
  .portfolio-section-list-item:not(:last-child) {
    margin-bottom: 48px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-section-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
}
@media screen and (min-width: 1158px) {
  .portfolio-section-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }
}
.portfolio-section-list-item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .portfolio-section-list-item {
    width: calc((100% - 24px) / 2);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1168px) {
  .portfolio-section-list-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.portfolio-section-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.description-wrapper {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.img-wrapper {
  position: relative;
  overflow: hidden;
}
.overlay-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #f4f4fd;
  background-color: #4d5ae5;
  position: absolute;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 32px;
}
.portfolio-section-list-item:hover .overlay-text {
  transform: translateY(0%);
}

/* ============================== /PORTFOLIO =================================== */

/* ============================== FOOTER =================================== */

.page-footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

@media screen and (min-width: 1158px) {
  .page-footer {
    padding: 100px 0;
  }
}

.page-footer-logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.page-footer-studio {
  color: #f4f4fd;
}
.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
@media screen and (min-width: 768px) {
  .footer-text {
    max-width: 264px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
  }
}
@media screen and (min-width: 1158px) {
  .footer-text {
    max-width: 264px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
  }
}

/* footer .container {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
} */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  footer .container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    column-gap: 24px;
    row-gap: 72px;
    padding-left: 108px;
  }
}
@media screen and (min-width: 1158px) {
  footer .container {
    display: flex;
    align-items: baseline;
  }
}
@media screen and (max-width: 767px) {
  .logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
  }
}
@media screen and (min-width: 768px) {
  .logo-wrapper {
    display: inline-block;
  }
}
@media screen and (min-width: 1158px) {
  .logo-wrapper {
    margin-right: 120px;
  }
}

footer .social-list-icons {
  gap: 16px;
}
.title-footer-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
@media screen and (max-width: 767px) {
  .social-media-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
  }
}
@media screen and (min-width: 1158px) {
  .social-media-wrapper {
    margin-right: 80px;
  }
}

footer .social-list-icons-item-link:hover,
footer .social-list-icons-item-link:focus {
  background-color: #31d0aa;
}
.footer-social-list-icons-item {
  width: 40px;
  height: 40px;
}
.footer-icon {
  fill: #f4f4fd;
}
@media screen and (max-width: 767px) {
  .subscibe-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .subscribe-form {
    display: flex;
    gap: 24px;
  }
}

.footer-mail-title {
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}
.footer-input {
  padding-left: 16px;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  outline: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}
.footer-input::placeholder {
  color: #fff;
}
@media screen and (max-width: 767px) {
  .footer-button {
    border: none;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }
}
.footer-button {
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-button:hover,
.footer-button:focus {
  background-color: #404bbf;
}
.button-icon {
  margin-left: 16px;
}
/* ============================== /FOOTER =================================== */
/* ============================= MODAL WiNDOW======================= */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: #ffffff;
  transform: translateX(100%);
  transition: translateX 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  transform: translateX(0%);
}
.close-mobile-menu-button {
  padding: 0;
  line-height: 0;
  border-radius: 50%;
  background-color: #e7e9fc;
  width: 24px;
  height: 24px;
  border-color: #2e2f421a;
  position: absolute;
  top: 24px;
  right: 24px;
}
.mobile-menu-container {
  width: 100%;
  padding-left: 16px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 72px;
  margin-bottom: 168px;
}
.mobile-nav-list-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: 2e2F42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-nav-list-link:hover,
.mobile-nav-list-link:focus {
  color: #404bbf;
}
.mobile-adress-box {
  margin-bottom: 48px;
}
.mobile-adress-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-decoration: none;
  font-style: normal;
}
.mobile-adress-list-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-adress-list-item-link:hover,
.mobile-adress-list-item-link:focus {
  color: #404bbf;
}
.mobile-menu-social-list {
  display: flex;
  column-gap: 40px;
  margin-bottom: 40px;
}

.mobile-menu-social-list-item {
  width: 40px;
  height: 40px;
}

.moblie-menu-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}
.moblie-menu-social-list-link:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/* ============================= MODAL WiNDOW======================= */
.modal-overlay {
  position: fixed;
  background-color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  pointer-events: none;
}
.modal-overlay.is-open {
  opacity: 1;
  pointer-events: all;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 16px 16px 16px;
}
@media screen and (min-width: 768px) {
  .modal-window {
    width: 408px;
    padding: 72px 24px 24px 24px;
  }
}
.close-modal-window-button {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: none;
  position: absolute;
  right: 24px;
  top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
}
.close-modal-window-button:hover,
.close-modal-window-button:focus {
  background-color: #404bbf;
  border: none;
}

.close-modal-window-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-modal-window-button:hover,
.close-modal-window-button:focus {
  fill: #ffffff;
}

.modal-window-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.input-lable {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  display: block;
}
.input-wrapper {
  margin-bottom: 8px;
}
.input-content-wrapper {
  position: relative;
}
.input-field {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
}
.input-field-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-field:focus {
  border-color: #4d5ae5;
}
.input-field:focus + .input-field-icon {
  fill: #4d5ae5;
}

.input-textarea-wrapper {
  margin-bottom: 16px;
}
.user-comment {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  outline: transparent;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  display: block;
}
.user-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.user-comment:focus {
  border-color: #4d5ae5;
}

.input-checkbox-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.custom-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
}
.original-checkbox:checked + .checkbox-label .custom-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}
.privacy-policy-link {
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  text-decoration: underline;
}

.submit-modal-button {
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.submit-modal-button:hover,
.submit-modal-button:focus {
  background: #404bbf;
}
